
.font {
  font-family: 'Fraunces', serif;
}
.font_p {
  font-family: 'Barlow', sans-serif;
  color: hsl(213, 9%, 39%);
}

/* section 1 */

.background-img1 {
  height: 100vh;
  background-image: url(images/desktop/image-header.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.headerIcon {
  text-align: center;
  padding: 40px;
}
.headerIcon p{
  font-size: 37px;
}
.headerIcon img{
  margin-top: 30px;
}


/* section 2 */
.boxItem {
  display: flex;
  align-items: center;
  padding: 0;
}
.boxItem div{
  padding: 30px 50px 30px 50px;
}
.boxItem p{
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 18px;
}
.boxItem a{
  text-decoration: none;
  font-size: 20px;
}

.section2img {
  width:1400px;
  height:1200px;
  padding-left: -15px;
  padding-right: -15px;
}

.a:hover::after {
  content: "";
  position: absolute;
  left: -5%;
  right: -5%;
  bottom: 0;
  border: 5px solid Orange;
}

/* section 3 */
.background-img2 {
  height: 100vh;
  background-image: url(images/desktop/image-graphic-design.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
.background-img2 h3{
  font-weight: bold;
  color: hsl(213, 9%, 39%);
  padding-bottom: 20px;
}
.background-img2 p{
  font-size: 18px;
}

.background-img3 {
  height: 100vh;
  background-image: url(images/desktop/image-photography.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
.background-img3 h3{
  font-weight: bold;
  color: hsl(213, 9%, 39%);
  padding-bottom: 20px;
}
.background-img3 p{
  font-size: 18px;
}

.content {
  text-align: center;
  padding: 30px 30px 60px 30px;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* section 4 */
.section4 {
  padding: 60px;
}
.section4_h {
  font-weight: bold;
  padding-top: 60px;
  color: hsl(210, 4%, 67%);
  letter-spacing: 6px;
}
.section4 img{
  border-radius: 50%;
  width:100px;
}
.section4 h5{
  font-weight: bold;
}
.section4_p1{
  font-size: 18px;
  padding-top: 50px;
  padding-bottom: 30px;
}
.section4_p2{
  font-size: 16px;
  font-family: 'Barlow', sans-serif;
  color: hsl(210, 4%, 67%);
}

/* section 5 */

  /* null */

/* section 6 */
.footer{
  padding-top: 60px;
  background-color: hsl(168, 42%, 65%);
}
.footerlink {
  padding: 15px;
  font-size: 18px;
  color: hsl(167, 40%, 24%);
  font-weight: bold;
}
.footerlink:hover{
  text-decoration: none;
  color: white;
}
.footerIcon {
  padding: 40px;
}
.icon {
  padding: 10px;
}
.icon:hover {
  filter: brightness(0) invert(1);
}
