
.font {
  font-family: 'Fraunces', serif;
  font-weight: bold;
}
.font_p {
  font-family: 'Barlow', sans-serif;
  color: hsl(213, 9%, 39%);
}

/* section 1 */

.background-img1 {
  height: 100vh;
  background-image: url(images/desktop/image-header.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
.button {
	background: white;
	color: hsl(213, 9%, 39%);
  /* font-weight: bold; */
	border: none;
	width: 100px;
	height: 35px;
	border-radius: 25px;
	box-shadow: -7px 9px 10px -3px rgba(189, 174, 174, 0.75);
	cursor: pointer;
  
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.button:hover {
	background: #A1CAE2;
	transition: 0.2s;
}

.headerIcon {
  text-align: center;
  padding: 40px;
}
.headerIcon p{
  font-size: 37px;
  letter-spacing: 6px;
}
.headerIcon img{
  margin-top: 30px;
}

/* section 2 */
.boxItem {
  display: flex;
  align-items: center;
  padding: 0;
}
.boxItem div{
  padding: 30px 50px 30px 50px;
}
.boxItem p{
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 18px;
}
.boxItem a{
  text-decoration: none;
  font-size: 20px;
}
.section2img {
  width:1200px;
  height:1400px;
}

.a1{
    text-decoration: none;
    color: hsl(212, 27%, 19%);
    text-transform: uppercase;
    font-weight: 800;
    padding: .5rem;
    position: relative;
    cursor: pointer;
    font-family: 'Fraunces', serif;
}
.a1::before{
    content: "";
    position: absolute;
    bottom: .3rem;
    left: 0;
    width: 100%;
    height: .7rem;
    background: hsla(51, 100%, 49%, 0.404);
    z-index: -1;
    border-radius: .5rem;
    transition: .35s;
}
.a1:hover::before{
    background: hsl(51, 100%, 49%);
}

.a2{
    text-decoration: none;
    color: hsl(212, 27%, 19%);
    text-transform: uppercase;
    font-weight: 800;
    padding: .5rem;
    position: relative;
    cursor: pointer;
    font-family: 'Fraunces', serif;
}
.a2::before{
    content: "";
    position: absolute;
    bottom: .3rem;
    left: 0;
    width: 100%;
    height: .7rem;
    background: hsla(7, 99%, 70%, 0.493);
    z-index: -1;
    border-radius: .5rem;
    transition: .35s;
}
.a2:hover::before{
    background: hsl(7, 99%, 70%);
}


/* section 3 */
.background-img2 {
  height: 100vh;
  background-image: url(images/desktop/image-graphic-design.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
.background-img2 h3{
  font-weight: bold;
  color: hsl(213, 9%, 39%);
  padding-bottom: 20px;
}
.background-img2 p{
  font-size: 18px;
}

.background-img3 {
  height: 100vh;
  background-image: url(images/desktop/image-photography.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
.background-img3 h3{
  font-weight: bold;
  color: hsl(213, 9%, 39%);
  padding-bottom: 20px;
}
.background-img3 p{
  font-size: 18px;
}

.content {
  text-align: center;
  padding: 30px 30px 60px 30px;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* section 4 */
.section4 {
  padding: 60px;
}
.section4_h {
  font-weight: bold;
  padding-top: 60px;
  color: hsl(210, 4%, 67%);
  letter-spacing: 6px;
}
.section4 img{
  border-radius: 50%;
  width:100px;
}
.section4 h5{
  font-weight: bold;
}
.section4_p1{
  font-size: 18px;
  padding-top: 50px;
  padding-bottom: 30px;
}
.section4_p2{
  font-size: 16px;
  font-family: 'Barlow', sans-serif;
  color: hsl(210, 4%, 67%);
}

/* section 5 */

  /* null */

/* section 6 */
.footer{
  padding-top: 60px;
  background-color: hsl(168, 42%, 65%);
}
.footerlink {
  padding: 15px;
  font-size: 18px;
  color: hsl(167, 40%, 24%);
  font-weight: bold;
}
.footerlink:hover{
  text-decoration: none;
  color: white;
}
.footerIcon {
  padding: 40px;
}
.icon {
  padding: 10px;
}
.icon:hover {
  filter: brightness(0) invert(1);
}
